[theme="dark"] {
    --backgroud-color: #464646;
    --text-color: #d8d8d8;
    --link-hover-color: #f07c82;
}

[theme="light"] {
    --backgroud-color: #fff;
    --text-color: #373e4a;
    --link-hover-color: #f07c82;
}

@font-face {
    font-family: 'MiSans';
    src: url('https://cdn.zengjunyin.com/font/MiSans-Medium.woff') format('woff');
    font-display: swap;
}

body {
    font-family: MiSans, Roboto, Noto Sans SC, sans-serif !important;
}

#background {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.zengjunyin.com/image/home/background.jpg");
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.8s ease-in;
    -moz-transition: background-image 0.8s ease-in;
    -webkit-transition: background-image 0.8s ease-in;
}

@media screen and (max-width: 800px) {
    #background {
        display: none !important;
    }
    .main {
        width: 100% !important;
    }
}

.dark:after{
    position:absolute;
    left: 0;
    top:0;
    display: block;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    content: attr(data-text);
    transition: background-color 1s ease-in-out;
}

.light:after{
    position:absolute;
    left: 0;
    top:0;
    display: block;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    content: attr(data-text);
    transition: background-color 1s ease-in-out;
}

.main {
    float: right;
    width: 35%;
    background-color: var(--backgroud-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.5vh;
}

.info {
    text-align: center;
    color: var(--text-color);
}

.info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.name {
    margin: 20px;
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin: 20px;
    font-size: 17px;
    font-weight: 400;
}

.nav li {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.nav li a {
    color: var(--text-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.nav li a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}

li i {
    margin-right: 5px;
}

.footer {
    display: table;
    width: 100%;
    height: 7.5vh;
    text-align: center;
}

.footer a {
    font-size: 15px;
    margin-top: 30px;
    color: var(--text-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.footer a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}